.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  transition: color, opacity 0.3s ease;
  opacity: 1;
}

.feinman__link:hover {
  color: #2f80ed;
  opacity: 0.5;
}
