.resources__logo {
  display: block;
  width: 270px;
  height: 38px;
  list-style-type: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

a .resources__logo {
  transition: opacity 0.3s ease;
  opacity: 1;
}

a:hover .resources__logo {
  opacity: 0.5;
}
